{{ $emojiMap := .Site.Params.categoryEmojis }} {{ $customConfig :=
.Site.Data.members.members }} {{ range $customConfig }} {{ $image := .image }}
{{ $name := .name }} {{ $github := .github }} {{ $handle := .handle }} {{ $role
:= .role }} {{ $categories := .categories }}
<!-- Questo è già una lista di stringhe -->

<div class="card-members">
  <div class="content-container">
    <div class="div-img-members">
      <img src="{{ $image }}" width="100%" height="100%" />
    </div>
    <div class="div-text">
      <h3 class="name-members">{{ $name }}</h3>
      <br />
      <a
        style="text-decoration: none; color: white"
        href="{{ $github }}"
        target="_blank"
      >
        <p class="tag-members">{{ $handle }}</p>
      </a>
      <br />
      <p class="tag-school">{{ $role }}</p>
    </div>
  </div>
  <div class="categories-container">
    {{ range $categories }} {{ $category := . }}
    <!-- Ogni elemento di $categories è già una stringa -->
    {{ $emoji := index $emojiMap $category }}
    <p class="categories-members categories-color-{{ lower $category }}">
      {{ $emoji }} {{ $category }}
    </p>
    {{ end }}
  </div>
</div>
{{ end }}
